@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.date__input[type='date']::-webkit-calendar-picker-indicator {
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  filter: invert();
}

.toast-success {
  background-color: green;
  text-align: center;
}

@media screen and (width: 800px) and (height: 1280px) {
  .dpiScreen-title__h1 {
    @apply text-6xl;
  }

  .dpiScreen-title__span {
    @apply text-8xl;
  }
}
