@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.date__input[type='date']::-webkit-calendar-picker-indicator {
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.toast-success {
  background-color: green;
  text-align: center;
}
